waterTANK.json
[
    {
        "id": "1182b646c80fc372",
        "type": "tab",
        "label": "Send to Matrix",
        "disabled": true,
        "info": ""
    },
    {
        "id": "52305af7949dc3ab",
        "type": "mqtt out",
        "z": "1182b646c80fc372",
        "name": "MQTT to ESP32",
        "topic": "matrix/counter",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9b231411ba24d43b",
        "x": 500,
        "y": 580,
        "wires": []
    },
    {
        "id": "4983d2e8c3e6aa22",
        "type": "inject",
        "z": "1182b646c80fc372",
        "name": "Send Number",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "9999",
        "payloadType": "str",
        "x": 190,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "e876e55c9a77513a",
        "type": "mqtt out",
        "z": "1182b646c80fc372",
        "name": "MQTT to ESP32",
        "topic": "matrix/text",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9b231411ba24d43b",
        "x": 380,
        "y": 220,
        "wires": []
    },
    {
        "id": "b0622c55be8072fa",
        "type": "inject",
        "z": "1182b646c80fc372",
        "name": "Every 3 sec",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "increment",
        "payloadType": "str",
        "x": 190,
        "y": 500,
        "wires": [
            [
                "056065cb0e6518c2"
            ]
        ]
    },
    {
        "id": "6a6ac69623c7b0e4",
        "type": "inject",
        "z": "1182b646c80fc372",
        "name": "Reset Button",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "reset",
        "payloadType": "str",
        "x": 190,
        "y": 660,
        "wires": [
            [
                "056065cb0e6518c2"
            ]
        ]
    },
    {
        "id": "056065cb0e6518c2",
        "type": "function",
        "z": "1182b646c80fc372",
        "name": "Counter Logic",
        "func": "// Get the existing count\nlet count = context.get(\"count\") || 0;\n\nif (msg.payload === \"reset\") {\n    count = 0;\n} else if (msg.payload === \"increment\") {\n    count += 1;\n    \n    // Reset to 0 if count exceeds 9999\n    if (count > 9999) {\n        count = 0;\n    }\n}\n\ncontext.set(\"count\", count);\nmsg.payload = count;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 580,
        "wires": [
            [
                "52305af7949dc3ab"
            ]
        ]
    },
    {
        "id": "9b231411ba24d43b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.100",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]